*{
    margin: 30px;
    padding: 0;
    font-family:Verdana;
    box-sizing: content-box;
    font-size: small;
}

.comida{
    width: 10%;
    max-width: 70px;
    background: linear-gradient(35deg, #0505b1d5, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.search button{
    border: 0;
    outline: 0;
    background: #4943c0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 17px;
}

.receta-icon{
    width: 170px;
    margin-top: 30px;
}

.recetas h1{
    font-size: 80px;
    font-weight: 500;

}

.receta h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;    
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.receta{
    font-size: 13px;
    color: rgb(229, 217, 217);
   
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

#cuerpo {
    padding: 35px;
    display:block;
    grid-template-columns: repeat(5, 1fr);
    margin: 1px;
    
    position: center;
    height: 1px;
    object-fit: contain;
   align-content: center;
    background-position: center;
    
    cursor: pointer;
    
    }
#comida {
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 35px;
    align-self: center;
    position: relative;
    height: 35px;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
    cursor: pointer;
  
   }

        div {
            width: 300px;
            border: 1px solid rgb(0, 2, 128);
            padding: 25px;
            margin: 10px;
          }

   